/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;

    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    background-color: hsla(240, 45%, 31%, 0.781);
    padding: 1.25rem;
}

.logo {
    max-width: 130px;
}

/* === Contact form === */
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
}

.form-field {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.input-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
}

.zip,
.input-control .zip {
    display: inline-flex;
    flex-direction: row;
    gap: 15px;
}

#cityName {
    align-self: center;
}

label {
    display: flex;
    font-size: 18px;
    margin-bottom: .5rem;
}

input,
textarea {
    display: flex;
    padding: 15px;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: black;
    font-size: 18px;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid rgb(187, 97, 12);
}

.form-success {
    border-color: #09c372;
}

.form-error{
    border-color: #ff3860;
}

.input-control.form-success input,
.input-control.form-success textarea {
    border-color: #09c372;
}

.input-control.form-error input,
.input-control.form-error textarea {
    border-color: #ff3860;
}

.input-control .form-error {
    color: #ff3860;
    font-size: 16px;
}

.confirm {
    display: flex;
    gap: 5px;
}

.cta {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 5px;
    max-width: max-content;

    background-color: hsla(240, 45%, 31%, 0.781);
    border-radius: 2rem;
    border: 1px solid var(--red);
    filter: drop-shadow(0px 0px 4px var(--red));

    text-decoration: none;
    color: white;
    transform: translateZ(0);
}

.cta:hover {
    cursor: pointer;
    filter: none;
    box-shadow: 0px 0px 15px 0px rgba(9, 13, 20, 0.685);
    -webkit-animation-name: pulse-shrink;
    animation-name: pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@media (hover) {
    .card-content {
        transform: translateY(60%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(10%);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content>*:not(.card-title) {
        opacity: 0;
        transition: opacity 600ms ease;
    }

    .card:hover .card-content>*:not(.card-title),
    .card:focus-within .card-content>*:not(.card-title) {
        opacity: 1;
        transition-delay: 1000ms;

        transition-duration: 0ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

/* Pulse Shrink */

@-webkit-keyframes pulse-shrink {
    to {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
}

@keyframes pulse-shrink {
    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(0.9);
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}